# Configuration files
*.ini

# Output files
output/
snvs/
*.h5
*.csv

# text files
*.txt

# plots
*.svg
*.png

# git
.gitignore
.git
.idea/
__pycache__/

# test scripts
testing.py
exponential_distribution.py
